body{
    background-color:#303952;
}

body {
    color: #ffffff ;
    text-align: center;
}

.btn {
    cursor: pointer;
}

.form,
.greeting{
    display: none;
}

.showing {
    display: block;
    text-align: center;
}

.clock{
    padding-top: 2em;
    text-align: center;
    font-weight: bold;
    font-size: 6em;
}

.js-weather{
    position: absolute; top: 20px; right: 30px;
    font-weight: bold;
    font-size: 1em;
    color: #596275;
}

.js-toDoList{
    color: #ffffff;
    font-weight: bold;
    font-size: 1em;
}

.js-greetings{
    font-weight: bold;
    font-size: 3em;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn .9s linear;
}